
<div >
    <div class="header">
        <app-header> </app-header>
    </div>
    <div class="main-container">
      <div class="side-nav">
        <app-side-nav></app-side-nav>
      </div>
      <div class="main">
        <app-main></app-main>
    </div>
    </div>
    
</div>
<!-- 
<div class="form-check form-switch" style="background-color: brown;">
  <input class="form-check-input" type="checkbox" id="switch1" [(ngModel)]="switch1" (change)="toggleSwitch1()">
  <label class="form-check-label" for="switch1">Switch 1: {{ switch1 ? 'On' : 'Off' }}</label>
</div>

<div class="form-check form-switch">
  <input class="form-check-input" type="checkbox" id="switch2" [(ngModel)]="switch2" (change)="toggleSwitch2()">
  <label class="form-check-label" for="switch2">Switch 2: {{ switch2 ? 'On' : 'Off' }}</label>
</div>
<div class="form-check form-switch">
  <input class="form-check-input" type="checkbox" id="switch3" [(ngModel)]="switch3" (change)="toggleSwitch3()">
  <label class="form-check-label" for="switch3">Switch 3: {{ switch3 ? 'On' : 'Off' }}</label>
</div>

<div class="form-check form-switch">
  <input class="form-check-input" type="checkbox" id="switch4" [(ngModel)]="switch4" (change)="toggleSwitch4()">
  <label class="form-check-label" for="switch4">Switch 4: {{ switch4 ? 'On' : 'Off' }}</label>
</div>
<div class="form-group">
  <label for="sensor1">Sensor 1:</label>
  
  <div class="card-body display-area">
      <h3 id="sensor1">Value:{{sensor1}} </h3>

  <div class="form-group">
  <label for="sensor2">Sensor 2:</label>
  
  <div class="card-body display-area">
      <h3 id="sensor2">Value:{{sensor2}} </h3>

  </div> -->



