<div class="top-section">
    <app-top-main></app-top-main>
  </div>
  <div class="middle-section">
    <!--
    <div class="widget left">
      <app-temp-chart></app-temp-chart>
    </div>
    <div class="widget right">
      <app-humi-chart></app-humi-chart>
    </div>
    -->
    <app-humi-chart></app-humi-chart>
  </div>
  <div class="bottom-section">
    
    <!-- <div class="widget left">      
    </div>
    <div class="widget right">      
    </div> -->

    <app-log></app-log>
  </div>
