<div class="nav-items">
    <div class="nav-item">  
        <i  class="material-icons">dashboard</i>    
      <span><a routerLink="/">Dashboard</a></span>
    </div>
    <div class="nav-item">  
        <i  class="material-icons">home</i>    
      <span><a routerLink="/mqttBroker">MQTT Broker</a></span>
    </div>
    <div class="nav-item">  
      <i  class="material-icons">today</i>    
    <span><a routerLink="/calendar">Calendar</a></span>
  </div>
    <div class="nav-item">
      <span>item</span>
    </div>
    
  </div>
