


<div class="chart-container">
  
<div class="widget left" >
    
  <!-- <canvas id="tempChart" style="width: 95%;height: 90%;"></canvas> -->
  <canvas id="tttt" style="width: 95%;height: 90%;"></canvas>

  </div>
  <div class="widget right">
    
    <!-- <canvas id="humiChart"></canvas> -->
    <!-- <canvas id="tempChart"></canvas> -->
    <!-- <canvas id="test"></canvas> -->
    <div class="average-container">
      <div class="average-header">
        
        <mat-button-toggle-group [(ngModel)]="selectedPeriod" (change)="onTogglePeriod()" class="toggle-buttons" appearance="standard">
          <mat-button-toggle value="Day">TODAY</mat-button-toggle>
          <mat-button-toggle value="Week">LAST 2 DAYS</mat-button-toggle>
          <mat-button-toggle value="Month">LAST 3 DAYS</mat-button-toggle>
        </mat-button-toggle-group>
      </div>
      
      <div class="average-block" id="temp-average">
        <h3>Temperature Average</h3>
        <p>{{ tempAverage | number:'2.2-2' }} °C</p>
      </div>
      
      <div class="average-block" id="humi-average">
        <h3>Humidity Average</h3>
        <p>{{ humiAverage | number:'2.2-2' }} %</p>
      </div>

      <div class="average-block" id="air-average">
        <h3>Air quality Average</h3>
        <p>{{ airAverage | number:'2.2-2' }} PPM</p>
      </div>
    </div>
  
  </div>
  
</div>